.redes{
  background-color: #202024;
  position: absolute;
  left: 0;
  border-start-end-radius: 12px;
  border-end-end-radius: 12px;
  top: calc((100vh/2) - (185px/2));
  padding: 12px 16px;
  display:flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width:960px){
  body{
    flex-direction: column;
    gap: 20px;
  }
  .redes{
    flex-direction: row;
    position: static;
    background-color: transparent;
  }
}
